#learning-drag-handle {
    cursor: move;
  }
  
#learning-card {
    position: fixed;
    top: 60%;
    left: 30%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: none;
  }
  
  .learning {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  
    padding: 1rem;
    width: 19rem;
  
    background-color: #111a22;
    background-image: none;
  
    border-radius: 1rem;
    box-shadow: none;
  }
  
  
  .learning .card__border {
    overflow: hidden;
    pointer-events: none;
  
    position: absolute;
    z-index: -10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    background-image: linear-gradient(
      0deg,
      hsl(0, 0%, 100%) -50%,
      hsl(0, 0%, 40%) 100%
    );
  
    border-radius: 1rem;
  }
  

  
  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }
  
  .learning .card_title__container .card_title {
    font-size: 1rem;
    color: var(--white);
  }
  
  .learning .card_title__container .card_paragraph {
    margin-top: 0.25rem;
    width: 65%;
  
    font-size: 0.5rem;
    color: var(--paragraph);
  }
  
  .learning .line {
    width: 100%;
    height: 0.1rem;
    background-color: var(--line);
  
    border: none;
  }
  
  .learning .card__list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .learning .card__list .card__list_item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .learning .card__list .card__list_item .check {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 1rem;
    height: 1rem;
    background-color: var(--primary);
  
    border-radius: 50%;
  }
  
  .learning .card__list .card__list_item .check .check_svg {
    width: 0.75rem;
    height: 0.75rem;
  
    fill: var(--black);
  }
  
  .learning .card__list .card__list_item .list_text {
    font-size: 0.75rem;
    color: var(--white);
  }
  
  .learning .button {
    cursor: pointer;
  
    padding: 0.5rem;
    width: 100%;
    background-image: linear-gradient(
      0deg,
      hsl(189, 92%, 58%),
      hsl(189, 99%, 26%) 100%
    );
  
    font-size: 0.75rem;
    color: var(--white);
  
    border: 0;
    border-radius: 9999px;
    box-shadow: inset 0 -2px 25px -4px var(--white);
  }
  .close-learning {
    background: none;
    border: none;
    font-size: 1.5em;
    color: #666;
    position: absolute;
    top: 0.5em;
    right: 0.75em;
    cursor: pointer;
  }
  